## Formatting with placeholders

In [1]:
# You can use %s to inject strings into your print statements. The modulo % is referred to as a "string formatting operator".

In [12]:
print("I am %s" %'Suhree')

I am Suhree

You can pass multiple items by placing them inside a tuple after the % operator.

In [37]:
print("I am %s" %'Suhree' " and my age is %s." %'30' )

I am Suhree and my age is 30.

In [33]:
print("I am %s and my age is %s" %('Sushree','30.' ))

I am Sushree and my age is 30.

In [38]:
print("I am a %s and also a %s, I love to visit %s. " %('singer', 'dancer', 'different places'))

I am a singer and also a dancer, I love to visit different places.

You can also pass variable names

In [49]:
a = 2
b = 3
c = 4
d = a+b+c
print("sum of 3numbers a,b,c is %s " %(d))

sum of 3numbers a,b,c is 9

In [54]:
print("sum of 3 numbers - %s, %s, %s is %s" %(a,b,c,d))

sum of 3 numbers - 2, 3, 4 is 9

In [61]:
a = 3
area_cube = a**3
print(area_cube)

27

In [60]:
print("side of cube %s and area is %s" %(a, area_cube))

side of cube 3 and area is 27

In [67]:
base = 2
height = 4
area = 0.5* base * height
print(area)

4.0

In [73]:
print("%s of right angled triangle base =  %s, height = %s is %s" %('Area', base, height, area))

Area of right angled triangle base =  2, height = 4 is 4.0

### Format conversion methods.

In [1]:
print('He said his name was %s.' %'Gautum')

He said his name was Gautum.

In [2]:
print('He said his name was %r.' %'Gautum')

He said his name was 'Gautum'.

In [10]:
print("I am %s." %'sushree')

I am sushree.

In [11]:
print("I am %r." %'sushree')

I am 'sushree'.

In [13]:
print('He said i am %s.'%'sushree')

He said i am sushree.

In [14]:
print('He said i am %r.'%'sushree')

He said i am 'sushree'.

### As another example, \t inserts a tab into a string.

In [17]:
print("I once caught a fish %s." %'this \tbig')
print('I once caught a fish %r.' %'this \tbig')

I once caught a fish this 	big.
I once caught a fish 'this \tbig'.

In [21]:
print("My name is %s." %'\tRakhi')

My name is 	Rakhi.

In [22]:
print("My name is %r." %'\tRakhi')

My name is '\tRakhi'.

In [23]:
print('I wrote %s programs today.' %3.75)
print('I wrote %d programs today.' %3.75)

I wrote 3.75 programs today.
I wrote 3 programs today.

In [24]:
print("He is %s years old." %'33')

He is 33 years old.

In [25]:
print("He is %r years old." %'33')

He is '33' years old.

In [27]:
print("He is %d years old." %33)

He is 33 years old.

In [29]:
print("He is %s years old." %'33.5')

He is 33.5 years old.

In [31]:
print("He is %r years old." %'33.5')

He is '33.5' years old.

In [33]:
print("He is %d years old." %33.5)

He is 33 years old.

### Padding and Precision of Floating Point Numbers

In [37]:
print('Floating point numbers: %1.0f' %(13.144))

Floating point numbers: 13

In [38]:
print('Floating point numbers: %5.1f' %(13.144))

Floating point numbers:  13.1

In [39]:
print('Floating point numbers: %10.2f' %(13.144))

Floating point numbers:      13.14

In [40]:
print('Floating point numbers: %15.3f' %(13.144))

Floating point numbers:          13.144

In [41]:
print('Floating point numbers: %20.4f' %(13.144))

Floating point numbers:              13.1440

In [42]:
print('Floating point numbers: %25.5f' %(13.144))

Floating point numbers:                  13.14400

In [43]:
print('Floating point numbers: %30.6f' %(13.144))

Floating point numbers:                      13.144000

In [44]:
print('A numbers: %5.2f' %(15.188))

A numbers: 15.19

In [46]:
print('A numbers: %15.1f' %(15.188))

A numbers:            15.2

In [47]:
print('A numbers: %25.3f' %(15.1881))

A numbers:                    15.188

In [50]:
print('A numbers: %35.3f' %(15.18405))

A numbers:                              15.184

### Multiple Formatting

In [51]:
print('First: %s, Second: %5.2f, Third: %r' %('hi!',3.1415,'bye!'))

First: hi!, Second:  3.14, Third: 'bye!'

### Formatting with the .format() method

In [52]:
print('This is a string with an {}'.format('insert'))

This is a string with an insert

In [53]:
print('This is an apple on the {}'.format('table'))

This is an apple on the table

In [62]:
print("Som doing his ofice work on his {} ".format('laptop.'))

Som doing his ofice work on his laptop.

In [66]:
print('Sunday is a {}'.format('holiday.'))

Sunday is a holiday.

### The .format() method has several advantages over the %s placeholder method:

#### 1. Inserted objects can be called by index position:

In [67]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [75]:
print('I saw a {3} {2} {1} {0}' .format('tiger.','fat','long','short.'))

I saw a short. long fat tiger.

#### 2. Inserted objects can be assigned keywords:

In [78]:
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))

First Object: 1, Second Object: Two, Third Object: 12.3

In [87]:
print('First object: {a}, Second object: {b}, Third object: {c}'.format(a=1, b="apple", c='12/kg'))

First object: 1, Second object: apple, Third object: 12/kg

In [88]:
print('First object: {a}, Second object: {b}, Third object: {c}'.format(a=1, b="a", c='12/kg'))

First object: 1, Second object: a, Third object: 12/kg

In [89]:
print('First object: {a}, Second object: {b}, Third object: {c}'.format(a=1, b="a", c='12'))

First object: 1, Second object: a, Third object: 12

In [93]:
print('First object: {a}, Second object: {b}, Third object: {c}'.format(a=1, b=3, c=12))

First object: 1, Second object: 3, Third object: 12

#### 3. Inserted objects can be reused, avoiding duplication

In [95]:
print('A %s saved is a %s earned.' %('penny','penny'))
# vs.
print('A {p} saved is a {p} earned.'.format(p='penny'))

A penny saved is a penny earned.
A penny saved is a penny earned.

In [99]:
print("My name is %s and I am %s yrs. old." %("Rakhi","30") )

My name is Rakhi and I am 30 yrs. old.

In [106]:
print("My name is {r} and I am {y} yrs. old." .format(r='sushree',y='30') )

My name is sushree and I am 30 yrs. old.

### Alignment, padding and precision with .format()

In [107]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

Fruit    | Quantity
Apples   |       3.0
Oranges  |        10

In [120]:
print('{0:5} | {1:9}'.format('fruit', 'Quality'))

fruit | Quality

In [141]:
print('{0:5} | {1:8}'.format('fox', 'longest'))
print('{0:5} | {1:8}'.format('crow', '7.'))
print('{0:5} | {1:8}'.format('moon', '17'))

fox   | longest
crow  | 7.
moon  | 17

In [142]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

Left     |  Center  |    Right
11       |    22    |       33

In [145]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format('12','22','33'))

Left     |  Center  |    Right
12       |    22    |       33

In [146]:
print('This is my ten-character, two-decimal number:%10.2f' %13.579)
print('This is my ten-character, two-decimal number:{0:10.2f}'.format(13.579))

This is my ten-character, two-decimal number:     13.58
This is my ten-character, two-decimal number:     13.58

## Formatted String Literals (f-strings)

In [149]:
name = 'Soham'
print('My friend name is %s.'%'Soham')

My friend name is Soham.

In [158]:
name = 'Soham'
print(f'He said his name is {name}.')

He said his name is Soham.

In [157]:
print(f'He said his name is {name!r}.')

He said his name is 'Soham'.